<ion-view view-title="Inicio">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <center><img src="img/ifto.png" class="img" style="width: 70%; margin-top: 5%;"></center>
    <ion-slide-box>
      <ion-slide>
        <div class="list card animate-fade-slide-in-right">
          <div class="item item-divider" align="center">
            Você sabia?
          </div>
          <div class="item item-body" style="">
            <center> <img class="img" style="max-width: 175px;" src="img/eja.png"></center>
            <center> <h3> Educação de Jovens e Adultos (EJA) </h3> </center>
            <p>O projeto de Educação de Jovens e Adultos (EJA) leva o Ensino Médio, por meio do ensino a distância, a todos que não tenham a possibilidade de cursá-lo de forma presencial. </p>

            <p> Esse aplicativo ajudará os estudantes do EJA a aprenderem matemática de uma forma mais divertida</p>
          </div>
        </div>
      </ion-slide>
    </div>
  </ion-slide>
</ion-slide-box>
<h1><center></center></h1>
</ion-content>
</ion-view>
