<ion-view view-title="Sobre">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div class="item card-item">
      <br><br><br>
      <div class="card light-bg ink ink-dark">
        <div class="item item-text-wrap">
          <center> <h2> Quiz4Math</h2> </center>
          <p>O aplicativo é um trabalho realizado pela equipe 5 da Pós Graduação em Telemática do IFTO Campus Palmas</p>

          <p> A equipe tem como integrantes: Adelino Soares, Claysllan Xavier, George Mendes e Selmon Mascarenhas</p>

          <p>O APP foi desenvolvido com a oritentação dos professores PhD Claúdio de Castro Monteiro e MsC Mauro Henrique Lima de Boni.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
